In [225]:
import pandas as pd
import numpy as nd

import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
    # Warning-causing lines of code here

In [226]:
proteins = pd.read_csv("filteredtrain2.csv")

In [227]:

with pd.option_context('display.max_rows', None):
    print(proteins.group_number.unique())

gn_list = proteins.group_number.unique().tolist()

gn_list.remove(531)

gn_list.remove(397)

gn_list.remove(335)

[209 211 213 215 217 219 221 226 228 230 266 273 274 277 279 281 283 285
 299 301 303 309 312 314 316 318 320 331 333 335 391 393 395 397 485 487
 489 491 493 495 497 499 501 503 505 507 509 511 513 515 517 523 525 527
 529 531 772 783 785 787 789 790 793 795 804 806 808 810 812 814 840 842
 846 848 850 860 861 864 866 867]

In [228]:
def duplicate(proteins):
    
    new_frame = pd.DataFrame(columns = ['sequence_one', 'sequence_two', 'dtm', 'size', 'group_number'])
    
    for gn in gn_list:
        
        
        gn_section = proteins.loc[proteins.group_number == gn].copy()
        
        
        section_size = gn_section.shape[0]
        counter = 0
        for i in range(0, section_size):
            
            row = gn_section.iloc[i]
            for j in range(0, ((2114 - section_size)//section_size)):
                
                #print(j)
                
                new_entry = pd.DataFrame({'sequence_one': row.sequence_one, 'sequence_two': row.sequence_two, 'dtm': row.dtm, 
                                      'size': row.loc['size'], 'group_number': row.group_number}, index=[0])
                #new_frame.append(new_entry)
                
                new_frame = pd.concat([new_entry, new_frame])
                
                
                new_frame.reset_index()
                
                counter += 1
                
        

        print(counter, ' new entries for ', gn,'\n')
                
          
    return pd.concat([proteins, new_frame], ignore_index = True)

In [229]:
proteins.shape

(71916, 5)

In [230]:
proteins = duplicate(proteins)

2112  new entries for  209

2112  new entries for  211

2112  new entries for  213

2112  new entries for  215

2112  new entries for  217

2112  new entries for  219

2080  new entries for  221

2112  new entries for  226

2112  new entries for  228

0  new entries for  230

2058  new entries for  266

2112  new entries for  273

2112  new entries for  274

2112  new entries for  277

2112  new entries for  279

2112  new entries for  281

2112  new entries for  283

1820  new entries for  285

2112  new entries for  299

2112  new entries for  301

2070  new entries for  303

2106  new entries for  309

2112  new entries for  312

2112  new entries for  314

2112  new entries for  316

2112  new entries for  318

1980  new entries for  320

2112  new entries for  331

2112  new entries for  333

2112  new entries for  391

2112  new entries for  393

2112  new entries for  395

2112  new entries for  485

2112  new entries for  487

2112  new entries for  489

2112  new entries for  491

2112  new entries for  493

2112  new entries for  495

2112  new entries for  497

2112  new entries for  499

2112  new entries for  501

2112  new entries for  503

2112  new entries for  505

2112  new entries for  507

2112  new entries for  509

2112  new entries for  511

2112  new entries for  513

2112  new entries for  515

2070  new entries for  517

2112  new entries for  523

2112  new entries for  525

2112  new entries for  527

2112  new entries for  529

1980  new entries for  772

2112  new entries for  783

2112  new entries for  785

2112  new entries for  787

2112  new entries for  789

2112  new entries for  790

2112  new entries for  793

2016  new entries for  795

2112  new entries for  804

2112  new entries for  806

2112  new entries for  808

2112  new entries for  810

2112  new entries for  812

1300  new entries for  814

2112  new entries for  840

2100  new entries for  842

2112  new entries for  846

2112  new entries for  848

1980  new entries for  850

2112  new entries for  860

2112  new entries for  861

2112  new entries for  864

2112  new entries for  866

1200  new entries for  867

In [231]:
proteins.shape

(229732, 5)

In [178]:
proteins

Empty DataFrame
Columns: [sequence_one, sequence_two, dtm, size, group_number]
Index: []

In [232]:
proteins.to_csv('filteredtrain3.csv', index=False)

In [95]:
with pd.option_context('display.max_rows', None):
    print(proteins.group_number.unique())

[209. 211. 213. 215. 217. 219. 221. 226. 228. 230. 266. 273. 274. 277.
 279. 281. 283. 285. 299. 301. 303. 309. 312. 314. 316. 318. 320. 331.
 333. 335. 391. 393. 395. 397. 485. 487. 489. 491. 493. 495. 497. 499.
 501. 503. 505. 507. 509. 511. 513. 515. 517. 523. 525. 527. 529. 531.
 772. 783. 785. 787. 789. 790. 793. 795. 804. 806. 808. 810. 812. 814.
 840. 842. 846. 848. 850. 860. 861. 864. 866. 867.  nan]

In [233]:
with pd.option_context('display.max_rows', None):
    print(proteins.group_number.value_counts())

531    57840
397     7656
335     3080
499     2114
501     2114
211     2114
503     2114
505     2114
507     2114
493     2114
509     2114
511     2114
513     2114
515     2114
523     2114
525     2114
527     2114
529     2114
209     2114
783     2114
785     2114
787     2114
866     2114
864     2114
861     2114
860     2114
848     2114
846     2114
840     2114
812     2114
810     2114
808     2114
806     2114
804     2114
793     2114
790     2114
789     2114
495     2114
497     2114
491     2114
217     2114
226     2114
228     2114
215     2114
213     2114
273     2114
274     2114
277     2114
279     2114
281     2114
283     2114
489     2114
299     2114
301     2114
333     2114
331     2114
487     2114
485     2114
395     2114
393     2114
391     2114
219     2114
318     2114
316     2114
314     2114
312     2114
842     2112
309     2112
303     2100
517     2100
266     2100
221     2100
320     2090
772     2090
795     2088
850     2070
285     2002
814     1950
867     1800
230     1260
Name: group_number, dtype: int64